.chat-main-div {
  width: 800px;
}

.messages-box {
  max-height: 70vh;
  overflow-y: auto;
}

.chat-input-div {
margin-top: 30px;
}

.chat-input {
  display: inline-block;
  width: 680px;
  margin-right: 20px;
}

.send-button {
  display: inline-block;
  width: 100px;
  margin-top: -4.7px;
}